 html {
    background: url(img/bgimg.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

body {margin: 0; padding: 0; 
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; 
    min-height: 600px;
}
img { border: 0;}
a { outline: none; text-decoration:none;}
p a:link, p a:visited {color: #fff;}
p a:active, p a:hover { background-color: #666;}
input { outline: none; }
.error { font-size: 11px; color: #777; line-height: 1.6em; }
.error p { margin-top: 0;}
.error .red { color: red; }
.italic{font-style:italic;  }
.normal{font-weight:normal;}

#center { padding: 5px; }
#header { margin:5px; margin-bottom: 20px; float: left; width: 100%;} 

/* logo */
a#logo { display: block; position: absolute; top: 3px; left:3px; }
#imglogo{ width:380px; }
#imgicon { display: none; }

@media(min-width : 320px) and (max-width : 480px) {
    #header{ margin: 0;}
    a#logo{ top:0; }
    #imgicon { display: block; width:38px;}
    #imglogo{ display: none; }
}

@media(min-width : 480px) and (max-width : 1024px) {
    #imglogo{ width: 200px; }
}

.nav-wrapper { max-width:360px; margin:auto;}
#aboutlist > li { margin:5px;}
#content { top: 126px; clear: both;}
div#sidecontent
{
    max-width: 460px;
    background: transparent url('img/content_bg.png');
    color: #fff; float: left; clear: both; padding: 20px;
    position: absolute;
    border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    margin-right: 9px;
}

p#contactus-note { margin: 0; padding: 0;}
#content-main { top: 126px; display: block; margin-top: 2px; clear: both;}
#content-main div.form { color: #4C4C4C; }

#slogan  
{
   background-color: #414141;
    background-image: -ms-linear-gradient(top, #555, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
    background-image: -webkit-linear-gradient(top, #555, #222);
    background-image: -o-linear-gradient(top, #555, #222);
    background-image: -moz-linear-gradient(top, #555, #222);
    background-image: linear-gradient(top, #555, #222);
   text-transform:uppercase; color: #555; font-size: 24px; font-weight: bold; padding: 25px 0; margin: 6px 0; text-align:center;
  /* background-color:rgba(0,0,0, 0.7);*/
   border-radius:12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
   text-shadow:rgb(50,50,50) 0px 1px 0, #000 0 -1px 0;
 }
 
.tilted { -webkit-transform: rotate(-25deg); -moz-transform: rotate(-25deg);}
 
div.form
{
    width: 100%;
   
   margin: 0 auto;
}

.form-header {
    padding: 15px;
    background:  transparent url('img/content_bg.png');
	border-radius:7px; 
}

.form-header h1
{
    color: #f3f3f3;
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.form-content
{
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: 3px;
    background:#FFF;
    opacity: .98;
}

.form-content.overflow {overflow-y: auto;}
.form-content h2
{
    color: #660000;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.form-content label { font-size: 11px;}
div#About-section {background-color: transparent;}

a.back-to-top { color: #660000; font-size: 11px;}
a.back-to-top:hover { background-color: #e5f5ff;}

.hide { display: none;}
blockquote { margin: 0; margin-left: 15px;}

div#About-section, div#contactus-section, div#ourwork-section
{
	max-width:880px;
}

.modal {
position: fixed;
top: 50%;
left: 50%;
z-index: 1050;
width: 560px;
margin: -250px 0 0 -280px;
overflow: auto;
background-color: white;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
display:none;
}

.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: black;
}

/* FANCY NAV  */
.fancyNav{
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);

    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.fancyNav li{
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */
    
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    
    border-right: 1px solid rgba(9, 9, 9, 0.125);
    
    /* Adding a 1px inset highlight for a more polished efect: */
    
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    
    position:relative;
    
    float: left;
    list-style: none;
}

.fancyNav li:after{

    /* This creates a pseudo element inslide each LI */ 
    
    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;
    
    /* Gradients! */
    
    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0.3)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0.3) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0.3) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0.3) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0.3) 50%, rgba(168,168,168,0.5));
    
    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
    
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    
    /* This will create a smooth transition for the opacity property */
    
    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.active:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    
    border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.active:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    
    border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.active:after,
.fancyNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}

.fancyNav:hover li.active:after,
.fancyNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.fancyNav li.active:hover:after,
.fancyNav li:target:hover:after{
    opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
    color: #5d5d5d;
    display: inline-block;
    font-size: 18px;
    padding: 12px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}

.fancyNav a.homeIcon{
    background:url('../img/home.png') no-repeat center center;
    display: block;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    text-indent: -9999px;
    width: 16px;
}